<html ng-app="main" ng-controller="controller">
    
    <head>
       <!–– ––>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        
        <script src="script.js"></script>
        <title>Technical Test</title>
    </head>
    <body ng-controller="controller" ng-init="displayData()">
        <container class="container">
        <h1>Title</h1>
            <button ng-click="search()">Search by: {{search}} </button>
            <input ng-model="searchText"/>
        <h2>Table is here:</h2>
        <table st-table="dataSample" class="table table-striped">
	    <thead class="thread">
	      <tr class="bg-primary">
		     <th ng-click="sortData('name')">
                    User
                    <span class="glyphicon glyphicon-sort"></span>
             </th>
		     <th>Team</th>
             <th ng-click="sortData('hours_played')" >        
             Hours
             <span class="glyphicon glyphicon-sort"></span>
             </th>
             <th>Details</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="x in dataSample | orderBy:sortColumn:reverseSort | filter:searchText">
      		<th>{{x.name}}</th>
            <th>{{x.team_name}}</th>
            <th>{{x.hours_played}}</th>
            <th>
                <button type="button" class="btn btn-default btn-sm" ng-click="displayAllData(x.idUser);" >
                <span class="glyphicon glyphicon-stats"></span> MORE
                </button>
              </th>
       	</tr>
	    </tbody>
        </table>
    
    <table st-table="idUser" class="table table-striped">
	    <thead>
	      <tr>
		     <th>Game</th>
		     <th>Category</th>
             <th>Hours</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="x in idUser">
      		<th>{{x.gn}}</th>
            <th>{{x.main_category}}</th>
            <th>{{x.hours_played}}</th>
       	</tr>
	    </tbody>
    </table>
    
    <p>Aqui el idUser: {{idUser}}</p>
    <p>Aqui el JSON: {{dataSample}}</p>
    <p>Aqui el filtro: {{dataFiltered}} </p>
    </container>
    </body>
</html>